@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Space+Mono:400,700");

:root {
  --background-color: #e0e0e0;
  --primary-color: #86c232;
  --text-color: #222629;
  --mask-color: rgba(0, 0, 0, 0.3);
  --white: #fff;
  --black: #000;

  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-16: 1rem;
  --spacing-24: 1.5rem;
  --spacing-32: 2rem;
  --spacing-64: 4rem;

  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-28: 1.75rem;
  --font-size-30: 1.875rem;
  --font-size-32: 2rem;
  --font-size-42: 2.625rem;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
p,
hr,
ul {
  margin: 0;
}

ul {
  list-style: none;
}

html,
body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

*:not(:defined){
  display: block;
  opacity: 0;
}
