@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Space+Mono');



root {
    --background-color: #EAE7DC;
    --primary-color: #E85A4F;
    --text-color: #8E8D8A;
}
/* #EAE7DC background
#D8C3A5 
#8E8D8A text dark
#E98074
#E85A4F primary accent */

html, body {
    margin: 0;
    background: #000;
    font-family: 'Space Mono', sans-serif;
}

* {
    box-sizing: border-box;
}