@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
@import url("https://fonts.googleapis.com/css?family=Space+Mono");

:root {
  --background-color: #e0e0e0;
  --primary-color: #86c232;
  --text-color: #222629;
  --white: #fff;
  --black: #000;
}
/* #EAE7DC background
#D8C3A5 
#8E8D8A text dark
#E98074
#E85A4F primary accent */

html,
body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

html,
body {
  background: var(--background-color);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  opacity: 0;
  transition: opacity 300ms linear;
}

* {
  box-sizing: border-box;
}
